.header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 8px;
    background-color: #1f2937;
    color: #F9FAF8;
}

body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    gap: 8px;
    
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.intro {
    display: flex;
    justify-content: space-evenly;
    align-items: top; /* Add this property to stretch both intro sections vertically */
    background-color: #1F2937;
    color: #F9FAF8;
    font-style: extra-bold;
    padding: 40px 0;
}

.left-intro {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.left-intro button {
    max-width: 200px;
    width: 100%;
    border-radius: 30px;
    background-color: #3882F6;
    color: #FFFFFF;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.right-intro {
    display: flex;
    flex-direction: column;
    align-items: bottom;
}

.right-intro img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 2px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 2px;
    margin-bottom: 5px;
}

.img-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.img-info img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 20px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.img-text {
    margin-top: 10px;
    padding: 8px;
    font-size: 16px;
    color: black;
    border-radius: 10px;
    max-width: 200px; /* Set the maximum width of the box */
}

.quote {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    word-wrap: break-word;
    margin: 0;
    gap: 0;
}

.quote h2 {
    font: 36px;
    font-style: light italic;
    color: #1F2937;
}

.quote h3 {
    margin-top: 0px; /* Adjust this value to control the spacing between the two lines */
}

.CAT {
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner {
    display: flex;
    width: 80%; /* Adjust the width as desired */
    max-height: 200px; /* Limit the height to avoid it becoming too high */
    justify-content: center;
    align-items: center;
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 20px;
    margin: 20px;
    border: 2px solid #ccc;
    border-radius: 20px;
}